*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 250px;
}
header > img {
    width: 150px;
    height: 80px;
}
.Conteiner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    height: 100vh;
}
.Header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightblue;
}
.Buttons{
    padding: 10px;
    width: 100px;
    background-color: lightblue;
    border: none;
}
:hover.Buttons{
    background-color: lightskyblue;
}
:active.Buttons{
    background-color: lightseagreen;
}
.DivButtons{
    display: flex;
    justify-content: space-between;
}
div>li>a{

}

footer > div > img{
    width: 100px;
}
.Footer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightblue;
}